
@-webkit-keyframes jiggle {
    0%,14% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    2% {
        -webkit-transform: scaleY(.9);
        transform: scaleY(.9)
    }

    8% {
        -webkit-transform: scale(.9,1.1) translateY(-5px);
        transform: scale(.9,1.1) translateY(-5px)
    }

    11% {
        -webkit-transform: scale(1) translateY(-3px);
        transform: scale(1) translateY(-3px)
    }
}

@keyframes jiggle {
    0%,14% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    2% {
        -webkit-transform: scaleY(.9);
        transform: scaleY(.9)
    }

    8% {
        -webkit-transform: scale(.9,1.1) translateY(-5px);
        transform: scale(.9,1.1) translateY(-5px)
    }

    11% {
        -webkit-transform: scale(1) translateY(-3px);
        transform: scale(1) translateY(-3px)
    }
}

@-webkit-keyframes jelly {
    0% {
        -webkit-transform: matrix(1,0,0,1,0,0);
        transform: matrix(1,0,0,1,0,0)
    }

    50% {
        -webkit-transform: matrix3d(1.0593,0,-.1,.00025,0,.9603,.1,-.0001,.1,-.1,.9801,0,0,-3,0,1);
        transform: matrix3d(1.0593,0,-.1,.00025,0,.9603,.1,-.0001,.1,-.1,.9801,0,0,-3,0,1)
    }

    to {
        -webkit-transform: matrix(1,0,0,1,0,0);
        transform: matrix(1,0,0,1,0,0)
    }
}

@keyframes jelly {
    0% {
        -webkit-transform: matrix(1,0,0,1,0,0);
        transform: matrix(1,0,0,1,0,0)
    }

    50% {
        -webkit-transform: matrix3d(1.0593,0,-.1,.00025,0,.9603,.1,-.0001,.1,-.1,.9801,0,0,-3,0,1);
        transform: matrix3d(1.0593,0,-.1,.00025,0,.9603,.1,-.0001,.1,-.1,.9801,0,0,-3,0,1)
    }

    to {
        -webkit-transform: matrix(1,0,0,1,0,0);
        transform: matrix(1,0,0,1,0,0)
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }

    50% {
        -webkit-transform: translateY(.4em);
        transform: translateY(.4em)
    }

    to {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }

    50% {
        -webkit-transform: translateY(.4em);
        transform: translateY(.4em)
    }

    to {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }
}

@-webkit-keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    50% {
        -webkit-transform: scale(1.03) translateY(-50%);
        transform: scale(1.03) translateY(-50%)
    }

    to {
        -webkit-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%)
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    50% {
        -webkit-transform: scale(1.03) translateY(-50%);
        transform: scale(1.03) translateY(-50%)
    }

    to {
        -webkit-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%)
    }
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    65% {
        -webkit-transform: translateY(2em);
        transform: translateY(2em)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    65% {
        -webkit-transform: translateY(2em);
        transform: translateY(2em)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #333;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

p {
    margin: 0;
    padding: 0;
}

.nav {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 1.42857143;
    background-color: #2a2a2a;
    background: #2a2a2a;
    -webkit-font-smoothing: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    height: 3.7em;
    position: static !important;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: white;
    z-index: 9999999;
}

.nav>div {
    display: flex;
}

.nav .navbar-icon-btn {
    height: 100%;
    width: 3.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .cta {
    height: 100%;
    background: #c272d9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .625em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .075em;
    text-align: center;
    font-family: OpenSans, sans-serif;
}

.nav .cta a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 220px;
    min-width: 100px;
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav .cta {
        display: none;
    }
}

.nav .cta a {
    padding: 0 1em;
}

.nav .logo {
    width: 3.7em;
    height: 3.7em;
    position: relative;
    float: left;
    background: url(/img/logo-small.png) 50% no-repeat;
    background-size: 30px auto;
}

.nav ul.nav-links {
    height: 3.7em;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul.nav-links li {
    display: inline-block;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 100%;
    padding-right: 0 !important;
}

.nav ul.nav-links li:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: -1;
    -webkit-transition: height .2s ease-in-out;
    -o-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 0;
}

.nav ul.nav-links li:hover:before {
    height: 5px;
}

.nav ul.nav-links li a {
    display: flex;
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    letter-spacing: .075em;
    padding: 0 1em;
    height: 100%;
    max-height: 3.7em;
    align-items: center;
    justify-content: center;
}


.nav ul.nav-links li a:hover {
    text-decoration: none;
}

.nav ul.nav-links li a p {
    font-size: .75em;
}

main {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 3.7em * 3);
}

.home-index {
    position: relative;
    background: url(/img/default-bg.jpg) no-repeat 100% 0;
    background-size: cover;
    min-height: calc(100vh - 3.7em);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: BurbankBigCondensed-Black, sans-serif;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .home-index {
        min-height: 80vh;
        background-position: 86% 50%
    }
}

@media only screen and (max-width: 768px) and (orientation:landscape) {
    .home-index {
        min-height: 100vh
    }
}

.home-index .content {
    position: absolute;
    top: 25%;
    left: 10em
}

.home-index .content .copy {
    margin-top: 1em
}

.home-index .content .copy p {
    color: #fff;
    font-size: 1em;
    margin: 0
}

.home-index .content h1 {
    font-size: 6em;
    margin: 0;
    color: #fff
}

.home-index .content h1.sub {
    font-size: 4em;
    white-space: nowrap;
}

.home-index .content .btn.btn-display {
    font-size: 3em;
    padding: 0 1.25em;
    text-decoration: none;
}

.home-index .content .videoLink {
    color: #fff;
    margin-top: 3.52em;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .75)
}

.home-index .content .videoLink i {
    font-size: 2em;
    vertical-align: middle
}

.home-index .content .videoLink span {
    padding-left: 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    vertical-align: middle
}


@media screen and (max-width: 1450px) {
    .home-index .content {
        left: 5%
    }
}

@media only screen and (max-width: 1199px) {
    .home-index .content {
        width: 100%;
        max-width: 32em
    }

    .home-index .content h1 {
        white-space: nowrap;
    }

    .home-index .content .btn.btn-display {
        font-size: 2em
    }

    .home-index .content .videoLink {
        margin-top: 2em
    }
}

@media only screen and (max-width: 991px) {
    .home-index .content {
        top: 10%;
        left: 1em;
        max-width: 24em
    }

    .home-index .content h1 {
        font-size: 1.8em
    }

    .home-index .content h1.sub {
        font-size: 4em;
        white-space: wrap;
    }

    .home-index .content .btn.btn-display {
        font-size: 1.5em
    }

    .home-index .content .videoLink {
        margin-top: 1.3em
    }

    .home-index .content .videoLink i {
        font-size: 2em
    }

    .home-index .content .videoLink .gamePlay {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    .home-index .content {
        position: relative;
        padding: 2em;
        left: 0
    }

    .home-index .content .videoLink {
        text-align: left;
        max-width: 100%
    }
}

.home-index .btn {
    position: relative;
    border: 0;
    border-radius: 0;
    line-height: 2;
    z-index: 1;
    font-family: BurbankBigCondensed-Black, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    padding: .25em 2em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    letter-spacing: 0;
}

.home-index .btn.btn-display {
    position: relative;
    font-size: 1.75em;
    padding: 0 2em;
    color: #000;
    margin-top: .5em;
    background: transparent
}


.home-index .btn.btn-display:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background-color: #ff0;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    -webkit-box-shadow: 0 4px 12px -4px rgba(0,0,0,.5);
    box-shadow: 0 4px 12px -4px rgba(0,0,0,.5);
    -webkit-animation: jelly 6s ease-in-out infinite;
    animation: jelly 6s ease-in-out infinite;
    -webkit-transform-origin: 50% 50% 20px;
    -ms-transform-origin: 50% 50% 20px;
    transform-origin: 50% 50% 20px
}

.home-index .btn.btn-display:hover:after {
    background-color: #e6e600
}

.home-index .btn.btn-display.no-animate:after {
    -webkit-animation: none;
    animation: none;
    -webkit-clip-path: polygon(0 4%,100% 0,100% 100%,0 100%);
    clip-path: polygon(0 4%,100% 0,100% 100%,0 100%)
}

.home-index .btn.disabled {
    background-color: #ccc;
    color: gray;
    border-color: #ccc
}

.home-index .btn.disabled:hover {
    color: gray!important
}

.home-index .btn>span {
    pointer-events: none;
    position: relative;
    z-index: 1;
}

.btn.btn-default {
    font-size: 1.75em;
    color: #fff;
    background-color: #2c82c5;
    padding: 0 2em;
    transition: background-color .3s ease;
    border: none;
}

.btn {
    position: relative;
    border: 0;
    border-radius: 0;
    line-height: 2;
    z-index: 1;
    font-family: BurbankBigCondensed-Black, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    padding: .25em 2em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    letter-spacing: 0;
    text-decoration: none !important;
}

.btn.btn-default:hover {
    background-color: #3cd2e7;
    text-decoration: none;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.navbar-username {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    cursor: pointer;
    min-width: 9em;
}

.navbar-username i {
    font-size: .8em;
}

.navbar-username p {
    margin-top: 1px;
    padding-left: .5em;
}

.user-dropdown {
    position: absolute;
    top: 3.7em;
    right: 0;
    background: #2a2a2a;
    display: none;
    flex-direction: column;
    z-index: 9999999;
    border: 1px solid #333;
    width: 9em;
}

.user-dropdown.show {
    display: flex;
    flex-direction: column;
}

ul.user-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.user-dropdown li {
    padding: 1.2em;
    font-size: .75em;
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    letter-spacing: .075em;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.user-dropdown li a {
    text-decoration: none;
}


footer {
    font-size: 14px;
    text-transform: uppercase;
    font-family: OpenSans, sans-serif !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    position: relative;
    z-index: 10;
    padding: 1.25em 4em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social-icons {
    display: flex;
    align-items: center;
    gap: .7em; 
    font-size: 1.5em;
    background-color: transparent;
}


footer .social-icons li a {
    color: #e7e7e7;
    background-color: rgb(0, 0, 0, 0);
}

footer small {
    font-size: .75em;
    font-weight: 400;
    color: #e7e7e7;
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    letter-spacing: .075em;
    opacity: .5;
}

/* footer mobile */
@media only screen and (max-width: 767px) {
    main {
        min-height: calc(100vh - 3.7em * 3.2);
    }

    footer {
        padding: 1.25em 2em;
        align-content: center;
        flex-direction: column;
        text-align: center !important;
    }

    footer .social-icons {
        gap: .5em;
    }

    footer .social-icons li a {
        font-size: 1.25em;
    }
}
